APP_ENV=development
LOG_LEVEL=INFO

LLM_PROVIDER=unconfigured
STT_PROVIDER=unconfigured
TTS_PROVIDER=unconfigured
TELEPHONY_PROVIDER=unconfigured
CRM_PROVIDER=unconfigured
SCHEDULING_PROVIDER=unconfigured
